# Unity
/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
/[Ll]ogs/
/[Uu]ser[Ss]ettings/
/[Mm]emoryCaptures/
/[Rr]ecordings/

# Visual Studio / Rider
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.opendb
*.VC.db
.idea/
.vscode/

# OS
.DS_Store
Thumbs.db

# Crash reports
sysinfo.txt

# 추가
.utmp/
.vscode/
*.slnx

# 추가 (영상 제외)
Assets/06.Videos/*.mp4
Assets/06.Videos/*.mp4.meta
Assets/06.Videos/*.mov
Assets/06.Videos/*.360
